<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onFormSubmitted(formData)" #formData="ngForm">
        <h3>Email</h3>
        <span *ngIf="!emailInput.valid && emailInput.touched">
          <h5 [ngStyle]="{color: 'red'}">* Required</h5>
        </span>
        <input
          class="form-control"
          type="email"
          name="email"
          ngModel
          required
          email
          #emailInput="ngModel">
        <h3>Password</h3>
        <span *ngIf="!passwordInput.valid && passwordInput.touched">
          <h5 [ngStyle]="{color: 'red'}">* Required</h5>
        </span>
        <input
          class="form-control"
          type="password"
          name="password"
          ngModel
          required
          #passwordInput="ngModel">
        <h3>Select clearance level:</h3>
        <p class="radio" *ngFor="let clr of clearances">
          <input
            class="radio-light"
            type="radio"
            value="{{clr}}"
            name="clearance"
            ngModel
            required>
          <label>{{ clr }}</label>
        </p>
        <button
          class="btn btn-success"
          [disabled]="!formData.valid">Login</button>
      </form>
    <div *ngIf="submitted">
      <p>{{formData.value.email}}</p>
      <p>{{formData.value.password}}</p>
      <p>{{formData.value.clearance}}</p>
    </div>
    </div>
  </div>
</div>
